<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANaCn80giu5sZfxdiEPdN6rs4So2Q1ihU</string>
	<key>GCM_SENDER_ID</key>
	<string>338312319102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab5.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mis-lab5-2eaba</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-lab5-2eaba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338312319102:ios:28a6a0d219cb97438a082f</string>
</dict>
</plist>