<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588371357859-o3k1nse5gkuuqbvnc4oqfktr1dc5kd4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588371357859-o3k1nse5gkuuqbvnc4oqfktr1dc5kd4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCortoeC3kLfzlcJcz3L6oezrmMnkFhWgU</string>
	<key>GCM_SENDER_ID</key>
	<string>588371357859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mis-lab3-59b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-lab3-59b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588371357859:ios:f097e2c1f20f5c6e2b8f16</string>
</dict>
</plist>